.bio-pic {
    width: 25.125rem;
    height: 26.375rem;
    border-radius: 50%;
}

.bio-wraper {
    padding: 5rem 8rem;
    background-color: rgb(43, 43, 43);
    color: white;
}

.bio-pic1 {
    width: 28%;
    height: 32rem;
    border: 0.5rem solid white;
}

.pic-wraper {
    text-align: center;
    padding-top: 4rem;
}

.resume-file{
    color: black;
}

.social-media {
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    color: #df744a;
    letter-spacing: 0.05rem;
}

.social-wraper {
    text-align: center;
    padding-top: 2rem;
}

.social-media:hover, .social-media:focus {
    color: #df977b;
    text-decoration: none;
    border-bottom: solid #df977b;
}
