h1 {
    font-family: 'Libre Baskerville', serif;   
}

#header-content {
    color: white;
    font-size: 7rem;
}

.header-script {
    font-size: 3rem;
}

.header-wraper {
    height: 100vh;
    text-align: center;
    
}