@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

:root{
    --primary-beige: #fcdebe;
    --primary-dark: rgba(255, 255, 255, 0);
}

#kn-logo {
    height: 5rem;
    width: 5rem;
    border-radius: 40px;
}

.navbar-brand {
    padding: 0.625rem;
    margin-left: 1.875rem;
}

nav {
    font-family: 'Nunito', sans-serif;
    padding-left: 1.875rem !important;
    padding-right: 1.875rem !important; 
}

nav a.nav-link {
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar-nav {
    padding-right: 2.5rem;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    border-bottom: 0.1975rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    border-bottom: 0.1975rem solid var(--primary-beige);
}